.RightContainer {
 
    .NotesContainer {
        background-color: #efeff1;
        display: grid;
        height: 100vh;
        padding: 3em 1em 4em 1em;
        position: sticky;
        top: 0;
    
        .Notepad {
            background-color: white;
            border: 1px solid;
            border-radius: 4px;
            border-color: rgb(189, 189, 189);
            grid-template-columns: 1fr;
            padding: 2em;  
            max-height: 100vh;
            overflow-y: auto;
        }
    }
}   