.CardsBox {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    align-items: center;
    background-color: #F8F8FB;
}

.Cards {
    display: grid;
    align-items: center;
    justify-content: center;
    //width: 104px;
    height: 78px;
    border-radius: 12px;
    background-color: #b8b7c3;
}
