.SidebarContainer {
    background-color: #efeff1;
    display: grid;
    //grid-template-columns: 182px;
    height: 100vh;
    padding: 3em 2em 2em 2em;
    position: sticky;
    top: 0;
    overflow-y: auto;

    .Sidebar {
        background-color: #efeff1;
        grid-template-columns: 1fr;
    }

    .Top {
        display: grid;
        background-color: #efeff1;
        text-align: center;
        margin-bottom: 2rem;

        .Logo {
            width: 92px;
        }
    }

    .Bottom {
        text-align: center;
        min-height: 0;
    }
}