.Container{
    display: grid;
    min-width: 100vw;
    min-height: 100vh;
}

.Moodboard {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    justify-content: space-between;
}
  
.MainMoodboard {
    display: grid;
    grid-template-columns: 11fr 1fr;
    background-color: rgb(235, 235, 235);
    height: 100vh;
    position: sticky;  
    overflow-y: auto;
}

.Middle {
  

}