.Moodboard {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    justify-content: space-between;
    overflow-x: hidden
}
  
.MainMoodboard {
    display: grid;
    grid-template-columns: 11fr 1fr;
    background-color: #fdfdfd;
    height: 100vh;
    position: sticky;  
    overflow-y: auto;
}

@media only screen and (max-width: 768px) {
    .Moodboard {
        grid-template-columns: 1fr 6fr;
    }
  }